table {
    width: 100%;
    margin-top: 15% ;
  }
  th {
    width: 20%;
  }
  .pointer{
    cursor: pointer;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }